# Assignment 2: Working with Pandas

In [ ]:
import pandas as pd

In [ ]:

data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Diana', 'Eve'],
    'Age': [24, 27, 22, 32, 29],
    'Department': ['HR', 'Finance', 'IT', 'Marketing', 'HR'],
    'Salary': [45000, 54000, 50000, 62000, 47000]
}
df = pd.DataFrame(data)
df

In [ ]:
df[['Age','Salary']].describe()

In [ ]:
df[df['Department']=='HR']['Salary'].mean()

In [ ]:
df['Bonus'] = df['Salary'] * 0.10; df

In [ ]:
df[(df['Age']>=25) & (df['Age']<=30)]

In [ ]:
df.groupby('Department')['Salary'].mean()

In [ ]:

sorted_df = df.sort_values(by='Salary')
sorted_df.to_csv('/mnt/data/sorted_salary.csv', index=False)
sorted_df